  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Mairie</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item">Liste des mairies</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-12">
          <div class="card card-warning">
            <div class="card-header">
              <h3 class="card-title">La liste des mairies</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped" *ngIf="listeMairie">
                <thead>
                <tr>
                  <th>Mairie N°</th>
                  <th>Libelle Mairie</th>
                  <th>Quartier(s)</th>
                  <th>Type Mairie</th>
                  <th>Commune</th>
                  <th *ngIf="currentUser.role=='super_admin'">Action</th>
                </tr>
                </thead>
                <tbody *ngFor="let marie of listeMairie">
              
                <tr>
                  <td>{{marie.idMairie}}</td>
                  <td>{{marie.libelleMairie}}</td>
                  <td>{{marie.quartierMairie}}</td>
                  <td>{{marie.typeMairie}}</td>
                  <td>{{marie.commune.libelleCommune}}</td>

                 
        <td *ngIf="currentUser.role=='super_admin'">
          <button class="btn btn-danger"> <a (click)="onDelete(marie)" class="nav-icon fas fa-tree">Supp</a> </button>
          <button class="btn btn-warning"> <a (click)="onUpdate(marie)" class="far fa-circle nav-icon">Edit</a> </button>
        </td> 
                </tr>
               
                </tbody>
            
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>

        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->